.SelectInput {
  width: 100%;

  .MuiOutlinedInput-root {
    height: 40px;
  }

  .MuiSelect-select {
    box-sizing: border-box;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 32px 0 10px !important;
  }

  .MuiInputLabel-root {
    left: 0 !important;

    // Center label vertically in 40px select
    transform: translate(10px, 10px) scale(1) !important;

    &.MuiInputLabel-shrink {
      transform: translate(10px, -9px) scale(0.75) !important;
    }
  }
}