.admindash-parent {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 5px;
}
.admindash-parent .left {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.admindash-parent .left .left1 {
  height: 30%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}
.admindash-parent .left .left1 .documents {
  display: flex;
  gap: 20px;
  align-items: center;
}
.admindash-parent .left .left1 .documents svg {
  font-size: 30px;
  color: var(--accent2);
}
.admindash-parent .left .left1 .documents h4 {
  font-size: 16px;
  color: var(--accent);
}
.admindash-parent .left .left2 {
  height: 40%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  overflow-y: auto;
}
.admindash-parent .left .left2 .heading {
  display: flex;
  gap: 30px;
}
.admindash-parent .left .left2 .heading p {
  color: var(--accent2);
}
.admindash-parent .left .left2 .heading p span {
  color: grey;
}
.admindash-parent .left .left3 {
  height: 30%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 16px;
}
.admindash-parent .left .left3 .top {
  display: flex;
  justify-content: space-between;
}
.admindash-parent .left .left3 .card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f6f8fb;
  border-radius: 5px;
  padding: 10px 20px;
}
.admindash-parent .left .left3 .card .heading {
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.admindash-parent .left .left3 .card p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.74);
  line-height: 16px;
}
.admindash-parent .middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.admindash-parent .middle .middle1 {
  height: 30%;
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.admindash-parent .middle .middle2 {
  height: 50%;
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.admindash-parent .middle .middle3 {
  height: 20%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 10px 20px;
  overflow-y: scroll;
}
.admindash-parent .middle .middle3 .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
}
.admindash-parent .middle .middle3 .card-wrapper .card {
  background-color: #d4f2f0;
  padding: 10px 20px;
  border-radius: 5px;
  flex-direction: column;
  gap: 5px;
}
.admindash-parent .middle .middle3 .card-wrapper .card .title {
  display: flex;
  gap: 10px;
}
.admindash-parent .middle .middle3 .card-wrapper .card .title svg {
  color: var(--accent);
}
.admindash-parent .middle .middle3 .card-wrapper .card .title h5 {
  color: var(--accent);
}
.admindash-parent .middle .middle3 .card-wrapper .card .des p {
  font-size: 14px;
}
.admindash-parent .middle .middle3 .card-wrapper .card .task p {
  font-size: 12px;
}
.admindash-parent .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.admindash-parent .right .right1 {
  height: 50%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--unit);
  padding: 15px;
}
.admindash-parent .right .right1 h1 {
  color: var(--accent);
}
.admindash-parent .right .right1 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.admindash-parent .right .right1 .bottom .absent,
.admindash-parent .right .right1 .bottom .today,
.admindash-parent .right .right1 .bottom .halfday {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.admindash-parent .right .right1 .bottom .absent .red,
.admindash-parent .right .right1 .bottom .absent .blue,
.admindash-parent .right .right1 .bottom .absent .grey,
.admindash-parent .right .right1 .bottom .today .red,
.admindash-parent .right .right1 .bottom .today .blue,
.admindash-parent .right .right1 .bottom .today .grey,
.admindash-parent .right .right1 .bottom .halfday .red,
.admindash-parent .right .right1 .bottom .halfday .blue,
.admindash-parent .right .right1 .bottom .halfday .grey {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}
.admindash-parent .right .right1 .bottom .absent .blue,
.admindash-parent .right .right1 .bottom .today .blue,
.admindash-parent .right .right1 .bottom .halfday .blue {
  background-color: var(--accent2);
}
.admindash-parent .right .right1 .bottom .absent .grey,
.admindash-parent .right .right1 .bottom .today .grey,
.admindash-parent .right .right1 .bottom .halfday .grey {
  background-color: grey;
}
.admindash-parent .right .right2 {
  height: 50%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 10px 20px;
  gap: var(--unit);
  display: flex;
  flex-direction: column;
}
.admindash-parent .right .right2 .top {
  display: flex;
  justify-content: space-between;
}
.admindash-parent .right .right2 .top h3 {
  color: var(--accent);
}
.admindash-parent .right .right2 .top svg {
  color: var(--accent);
  font-size: 20px;
}
.admindash-parent .right .right2 .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admindash-parent .right .right2 .card .name {
  display: flex;
  gap: var(--unit);
}
.admindash-parent .right .right2 .card .name .user-avatar {
  display: flex;
  align-items: center;
  background: var(--accent);
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.admindash-parent .right .right2 .card .name .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.admindash-parent .right .right2 .card .name .user-info p {
  font-size: 16px;
  font-weight: 600;
}
.admindash-parent .right .right2 .card .name .user-info span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.677);
}
.admindash-parent .right .right2 .card .date p {
  font-weight: 500;
}/*# sourceMappingURL=AdminDash.css.map */