.input {
  width: 100%;
  position: relative;
  display: flex;

  .left-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 18px;
    color: var(--accent);
  }

  .date-label {
    position: absolute;
    left: 10px;
    top: -8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    z-index: 5;
    padding: 0 5px;
    color: grey;
  }

  .mq_label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px;
    background-color: var(--accent2);
    border-radius: 4px 0 0 4px;
    color: white;
  }

  .password {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .MuiFormControl-root {
    width: 100%;
  }


  .MuiInputBase-input {
    padding: 12px 14px !important;
  }


  .MuiInputLabel-root {
    left: 0;
  }


  .year-picker {
    width: 150px;

    .MuiInputLabel-root {
      top: 0 !important;
      left: 0 !important;
      transform: translate(14px, -9px) scale(0.75) !important;
      transform-origin: left top !important;
      background: white;
      padding: 0 5px;
      z-index: 1;
    }
  

    .MuiInputBase-input {
      padding: 12px 14px !important;
    }

    .MuiOutlinedInput-root {
      height: 56px;
    }
  }
}