// .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
//     padding: 12px 14px !important;
// }

.input {
  width: 100%;
  position: relative;

.left-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 18px;
  color: var(--accent);
}

.date-label{
  position: absolute;
  left: 10px;
  font-size: 14px;
 font-family: "Roboto", sans-serif;
top: -8px;
background-color: white;
z-index: 2;
padding: 0px 5px
}

  .mq_label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px;
    background-color: var(--accent2);
    border-radius: 4px 0px 0px 4px;
    color: white;
  }

  .password {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .MuiFormControl-root {
    width: 100%;
  }
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  padding-top: 8.5px !important;
  padding-bottom: 8.5px !important;
}

.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 10px;
}
.css-5eu3xv-MuiFormControl-root-MuiTextField-root input{
  color:grey !important;
}
.date-label{
  color:grey;

}