.MuiDateCalendar-root {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.MuiDayCalendar-header {
  gap: 20px;
}

.MuiDayCalendar-weekContainer {
  gap: 20px;
}

.custom-calendar-day {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Present */
.custom-calendar-day.attendance-present {
  background: #20ad9b;
  color: #fff;
    width: 24px;
  height: 24px;
}

.custom-calendar-day.attendance-present:hover {
  background: #20ad9b;
}

/* Half Day */
.custom-calendar-day.attendance-half-day {
  background: #ffc62b;
  color: #fff;
    width: 24px;
  height: 24px;
}

.custom-calendar-day.attendance-half-day:hover {
  background: #ffc62b;
    width: 24px;
  height: 24px;
}

/* Absent */
.custom-calendar-day.attendance-absent {
  background: #ff3b3b;
  color: #fff;
    width: 24px;
  height: 24px;
}

.custom-calendar-day.attendance-absent:hover {
  background: #ff3b3b;
    width: 24px;
  height: 24px;
}

/* TODAY */
.custom-calendar-day.today-date {
  font-weight: 700;
}


.custom-calendar-day.today-date:not(
    .attendance-present,
    .attendance-half-day,
    .attendance-absent
  ) {
  background: #4d89f8;
  color: #fff;
      width: 24px;
  height: 24px;
}


.custom-calendar-day.outside-month {
  opacity: 0.35;
}
@media (max-width: 1670px) {
  .MuiDayCalendar-header,
  .MuiDayCalendar-weekContainer {
    gap: 12px;
  }

  .custom-calendar-day {
    width: 26px;
    height: 26px;
    font-size: 13px;
  }

  .custom-calendar-day.attendance-present,
  .custom-calendar-day.attendance-half-day,
  .custom-calendar-day.attendance-absent,
  .custom-calendar-day.today-date:not(
      .attendance-present,
      .attendance-half-day,
      .attendance-absent
    ) {
    width: 23px;
    height: 23px;
  }
}



@media (max-width: 1495px) {
  .MuiDayCalendar-header,
  .MuiDayCalendar-weekContainer {
    gap: 8px;
  }

  .custom-calendar-day {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  .custom-calendar-day.attendance-present,
  .custom-calendar-day.attendance-half-day,
  .custom-calendar-day.attendance-absent,
  .custom-calendar-day.today-date:not(
      .attendance-present,
      .attendance-half-day,
      .attendance-absent
    ) {
    width: 22px;
    height: 22px;
  }
}



