@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.approvalletter-parent {
  font-family: "Quicksand", sans-serif !important;

  &,
  * {
    font-family: "Quicksand", sans-serif !important;
  }
  .approvalletter-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 100px 10px;
    .letter-box {
      width: 100%;
      display: flex;
      gap: var(--unit);

      // flex-direction: column;
      .left-form {
        margin: 0 !important;
        background-color: white;
        width: 60%;
        padding: 20px;
        border-radius: 10px;

        form {
          display: flex;
          flex-direction: column;
          gap: 20px;

          input,
          textarea {
            padding: 10px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;

            transition: var(--trans);

            &:focus {
              border-color: #007bff;
              outline: none;
            }
          }

          .sic-editor-data {
            p {
              text-align: left;
            }
          }
          .ck-editor__editable table {
            width: 100% !important;
            border-collapse: collapse;

            td,
            th {
              padding: 8px;
            }
          }
        }
      }

      .right-letter {
        margin: 0 !important;
        width: 40%;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        background-color: white;

        .date {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
        .main-info {
          text-align: start;
          padding: 20px 0px 0px 0px;
          letter-spacing: 0px;
          word-spacing: 1px;
        }
        .subject {
          font-weight: bold;
          text-align: start;
          letter-spacing: 0px;
          word-spacing: 1px;
        }

        .sic-editor-data {
          p {
            text-align: left;
            width: 100%;
            letter-spacing: 0px;
            word-spacing: 1px;
          }

          figure {
            table,
            th,
            td {
              border: 1px solid black;
            }

            table {
              th,
              td {
                padding: 10px;
              }
            }
          }
        }

        .bottomsection {
          display: flex;
          justify-content: space-between;
          text-align: "center";
        }

        .user {
          margin-bottom: 80px;
        }

        .user,
        .approvar,
        .finance {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-end;

          span {
            font-weight: 600;
          }
        }
        .approvar {
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }
}
