.verification-parent {
  background-image: url(../../assets/bg-image.png);
  height: 100dvh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 180px 20px;
  .verification-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #0e465341;
    padding: 0px !important;
    border-radius: 10px;
    overflow: hidden;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      gap: 30px;
      justify-content: center;

      background: linear-gradient(
        180deg,
        #0e4653 0%,
        #3e6f7a 60%,
        #6f98a0 100%
      );

      .logo {
        height: 70px;
        width: fit-content;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .des{
        display: flex;
        flex-direction: column;
              h1 {
        color: #a7c5cf;
        font-size: 45px;
      }
      p {
        color: #d6e4e8bb;
        font-size: 22px;
        line-height: 140%;

        .mail {
          color: white;
        }
      }

      }

      div {
        display: flex;
        gap: var(--unit);

       input {
          width: 48px;
          aspect-ratio: 1;
          border: 2px solid rgba(255, 255, 255, 0.45);
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(10px);
          color: #fff;
          font-size: 34px;
          font-weight: 500;
          text-align: center;
          outline: none;
          transition: all 0.3s ease;
        }
      }

      .otp-input:focus {
        border-color: #72e8ff;
        box-shadow: 0 0 10px rgba(114, 232, 255, 0.4);
      }

      .otp-input::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }

      .links {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: #104855;
          }
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      background: linear-gradient(
        180deg,
        rgba(37, 98, 110, 0.75),
        rgba(90, 155, 165, 0.65),
        rgba(134, 194, 201, 0.7)
      );
      img {
        width: 90%;
        height: 100%;
        object-fit: contain;
        background-position: center;
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .verification-parent {
    .verification-cont {
      .left {
        width: 100%;
        align-items: center;
        text-align: center;
        background: linear-gradient(
        180deg,
        rgba(37, 98, 110, 0.75),
        rgba(90, 155, 165, 0.877),
        rgba(134, 194, 201, 0.863)
      ),url("../../assets/rightimg.webp");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      }
      .right {
        display: none;
      }
    }
  }
}
