.leave-list {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 28px;
      font-weight: 700;
    }
    .btn-group {
      display: flex;
      gap: 10px;
      .count,
      .pending,
      .approved,
      .rejected {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0b8c951a;
        border-radius: 5px;
        font-size: 16px;
        padding: 8px 16px;
        color: #0b8b95;
        gap: 5px;
        font-weight: 700;
        border: 1px solid #0b8b95;
      }
      .pending {
        background: #fffbe6;
        color: #faad14;
        transition: var(--trans);
        border: 1px solid #faad14;
        cursor: pointer;
        &:hover {
          background: #faad14;
          color: white;
        }
      }
      .approved {
        background: #f6ffed;
        color: #52c41a;
        transition: var(--trans);
        border: 1px solid #52c41a;
        cursor: pointer;
        &:hover {
          background: #52c41a;
          color: white;
        }
      }
      .rejected {
        background: #fff2f0;
        color: #ff4d4f;
        transition: var(--trans);
        border: 1px solid #ff4d4f;
        cursor: pointer;
        &:hover {
          background: #ff4d4f;
          color: white;
        }
      }
    }
  }
  .table-row-light {
    td {
      background: #eafafa !important;
    }
  }

  .table-row-dark {
    td {
      background: var(--white) !important;
    }
  }

  .ant-table {
    background: var(--white);
    border-radius: 10px;
  }

  .ant-table-thead > tr > th {
    background: #fff;
    font-weight: 600;
    white-space: nowrap;

    .anticon {
      color: #0b8b95;
    }
  }

  .avatar {
    background: #0b8b95;
    font-size: 12px;
    font-weight: 600;
  }

  .view,
  .edit,
  .delete,
  .date {
    cursor: pointer;
    font-size: 14px;
  }

  .view {
    color: #6b7280;
  }

  .edit,
  .date {
    color: #0b8b95;
  }

  .delete {
    color: #ff4d4f;
  }

  .ant-tag {
    border-radius: 20px;
    padding: 2px 12px;
  }

  .ant-pagination-item-active {
    border-color: #0b8b95;

    a {
      color: #0b8b95;
    }
  }




  .approve-action-btn {
  color: #52c41a !important;
  background: #f6ffed !important;
  border: 1px solid #52c41a !important;
  border-radius: 5px !important;
  font-weight: 400;
  padding:10px 20px;

  &:hover {
    color: white !important;
    background: #52c41a !important;
  }
}

.reject-action-btn {
  color: #ff4d4f !important;
  background: #fff2f0 !important;
  border: 1px solid #ff4d4f !important;
  border-radius: 5px !important;
  font-weight: 400;
  padding:10px 20px;

  &:hover {
    color: white !important;
    background: #ff4d4f !important;
  }
}

.delete-action-btn {
  color: #ff4d4f !important;
  background: #fff2f0 !important;
  border: 1px solid #ff4d4f !important;
  border-radius: 5px !important;
  font-weight: 500;

  &:hover {
    color: #ff4d4f !important;
    background: #fff2f0 !important;
    border-color: #ff4d4f !important;
  }
}
.view-action-icon {
  color: #1677ff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    color: #0958d9;
    transform: scale(1.1);
  }
}

.delete-action-icon {
  color: #ff4d4f;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    color: #d9363e;
    transform: scale(1.1);
  }
}
}
